
{form name='add_category'}
<table class="ow_table_1 ow_form ow_automargin" style="width: 400px;">
    <tr class="ow_alt1">
        <td class="ow_value">{label name="category"}</td>
        <td class="ow_value">{input name="category"}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">{label name="parent_category"}</td>
        <td class="ow_value">{input name="parent_category"}</td>
    </tr>
    <tr>
        <td class="ow_center" colspan="2">{submit name='add' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}